/vivado_files/ZYBO_Master_ucf.zip
/vivado_files/ZYBO_Master_xdc.zip
/vivado_files/ZYBO_def.zip
/vivado_files/ZYBO_petalinux_v2014_2.bsp
/demo/zybo_base_system.zip
/doc/Embedded_Linux_Hands-on_Tutorial.pdf
/doc/ZYBO_RM_B_V6.pdf
/doc/ZYBO_sch_B_V2.pdf
/sd_card/devicetree.dtb
/sd_card/uImage
/sd_card/uramdisk.image.gz
/u-boot-Digilent-Dev/
/buildroot/
